.wrapper {
  width: 40px;
  height: 40px;
  position: relative;
}

.firstStick,
.secondStick {
  width: 100%;
  height: 2px;
  background-color: var(--primary-accent-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
}

.firstStick {
  rotate: 45deg;
}

.secondStick {
  rotate: -45deg;
}
