.cart {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.label {
  color: var(--tg-theme-section-header-text-color);
  font: var(--heading-h3);
  padding-block: 12px;
}

.cartList {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: var(--tg-theme-section-bg-color);
}

.dish {
  display: flex;
  height: 50px;
  column-gap: 8px;
  padding: 4px;
  align-items: start;
}

.dishImg {
  border-radius: var(--border-radius);
  height: 100%;
  aspect-ratio: 1 / 1;
}

.dishName {
  font: var(--body-md-semibold);
}

.dishCount {
  font: var(--body-sm-semibold);
  color: var(--secondary-300);
}

.dishPrice {
  margin-left: auto;
  font: var(--body-sm-regular);
}

.input {
  height: 40px;
  overflow: hidden;
  font: var(--body-sm-regular);
  text-overflow: ellipsis;
  background-color: var(--tg-theme-section-bg-color);
}
