.cart {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.label {
  color: var(--tg-theme-section-header-text-color);
  font: var(--heading-h3);
  padding-block: 12px;
}

.cartList {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 12px;
  background-color: var(--tg-theme-section-bg-color);
}

.dish {
  display: flex;
  height: 50px;
  column-gap: 8px;
  align-items: start;
}

.dishImg {
  border-radius: var(--border-radius);
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.dishName {
  font: var(--body-md-semibold);
}

.dishCount {
  font: var(--body-sm-semibold);
  color: var(--secondary-300);
}

.dishPrice {
  margin-left: auto;
  font: var(--body-sm-regular);
}

.footer {
  padding-block: 20px;
  font: var(--body-lg-semibold);
  display: flex;
}

.oldPrice {
  margin-left: auto;
  margin-right: 18px;
  scale: 0.9;
  text-decoration: line-through;
  opacity: 0.5;
}

.finalPrice {
  margin-left: auto;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font: var(--body-xs-regular);
  color: var(--tg-theme-subtitle-text-color);

  & span {
    padding-inline: 12px;
  }
}

.input {
  height: 48px;
  padding-inline: 12px;
  padding-block: 8px;
  overflow: hidden;
  font: var(--body-md-regular);
  text-overflow: ellipsis;
  background-color: var(--tg-theme-section-bg-color);
}
