.dish {
  display: flex;
  height: 50px;
  column-gap: 8px;
  align-items: start;
}

.dishImg {
  border-radius: var(--border-radius);
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.dishName {
  font: var(--body-md-semibold);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dishCount {
  font: var(--body-sm-semibold);
  color: var(--primary-accent-color);
}

.dishPrice {
  margin-left: auto;
  font: var(--body-sm-regular);
  white-space: nowrap;
}
