.loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  z-index: -1;
  inset: 0;
  overflow: hidden;
  transition-duration: 0.6s;
  transition-property: opacity;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
}

.upperLine,
.downerLine {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  rotate: 2deg;
}

.upperLine {
  top: 0px;
}

.downerLine {
  bottom: 0px;
}

.hide {
  opacity: 0;
}
