@font-face {
  font-family: "Steelfish";
  src: local("Steelfish"), url("./steelfish-bd.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

@keyframes swipeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes swipeFromRight {
  0% {
    opacity: 0;
    transform: scaleX(2.75) translateX(200px);
  }
  100% {
    opacity: 1;
    transform: scaleX(2.75) translateX(6px);
  }
}

@keyframes fillText {
  0% {
    background-position: 0 160px;
  }
  40% {
    background-position: 0 120px;
  }
  60% {
    background-position: 0 110px;
  }
  100% {
    background-position: 0 0px;
  }
}

@keyframes capFall {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;

    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%) !important;
    clip-path: inset(0px 0px 99.9% 99.9%) !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
  }
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  inset: 0;
  overflow: hidden;
  transition-duration: var(--transition);
  transition-property: opacity;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  letter-spacing: -3px;
}

.hide {
  animation-name: hide;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.logo {
  scale: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Steelfish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  width: 350px;
}

.cap {
  height: 30px;
  border-radius: var(--border-radius);
  width: 70%;
  background-color: var(--primary-accent-color);
  opacity: 0;
  animation-name: capFall;
  animation-delay: 2.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.jarText,
.breadText {
  font-size: 154px;
  line-height: 154px;
  height: 154px;
}

.jarText {
  background: linear-gradient(
    var(--tg-theme-text-color) 0%,
    var(--tg-theme-text-color) 10%
  );
  /* background: linear-gradient(red 0%, red 10%); */
  background-position: 0 160px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation-name: fillText;
  animation-duration: 1s;
  animation-delay: 1.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform: translateY(10px);
}

.jarBottom {
  font-size: 154px;
  line-height: 154px;
  writing-mode: vertical-lr;
  transform: scaleX(2.7);
  color: var(--primary-accent-color);
  animation-name: swipeFromRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: scaleX(2.75) translateX(6px);
  height: 48px;
}

.bread {
  width: 100%;
  height: 128px;
  border-radius: 16px;
  background-color: rgba(134, 108, 73, 0.979);
  display: flex;
  justify-content: center;
  animation-name: swipeFromLeft;
  animation-delay: 0.7s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  opacity: 0;
  animation-timing-function: ease-out;
}

.breadText {
  transform: translateY(-19px);
}
