.wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  justify-content: center;
}

.cap {
  width: 75%;
  height: 20%;
  border: 2px solid var(--tg-theme-text-color);
  border-radius: 5px;
  background-color: transparent;
}

.jar {
  width: 95%;
  height: 65%;
  border: 2px solid var(--tg-theme-text-color);
  border-radius: 8px;
  background-color: transparent;
}
