@keyframes counter {
  0% {
    scale: 100%;
  }
  50% {
    scale: 120%;
  }
  100% {
    scale: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: var(--tg-theme-section-bg-color);
  padding: 12px;
}

.categoryLabel {
  color: var(--tg-theme-section-header-text-color);
  font: var(--heading-h3);
  padding-bottom: 12px;
}

.dishListContainer {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.dishList {
  padding: 0;
  display: flex;
  list-style: none;
  column-gap: 10px;
}

.dishCard {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 160px;
  border-radius: var(--border-radius);
  position: relative;
}

.countSticker {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  background-color: var(--secondary-300);
  animation: counter 0.3s;
  color: white;
}

.tagList {
  position: absolute;
  left: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.hitTag {
  padding-inline: 4px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(246deg, #ff0000ff 0%, #e4a719ff 100%);
  border-radius: var(--border-radius);
  animation: flash 10s infinite;
}

.newTag {
  padding-inline: 4px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  background-color: chocolate;
  border-radius: var(--border-radius);
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(90deg, rgb(155, 76, 201) 0%, #71c4ffff 100%);
  animation: flash 10s infinite;
}

@keyframes flash {
  0% {
    scale: 100%;
  }
  5% {
    scale: 110%;
  }

  10% {
    scale: 100%;
  }
}

.dishImg {
  border-radius: 10px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.dishName {
  font: var(--body-md-regular);
}

.buttonBar {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.removeBtn,
.addBtn {
  padding: 0;
  border: none;
  height: 30px;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: width, background-color;
  transition-duration: var(--transition);
  font: var(--body-sm-semibold);
}

.removeBtn {
  background-color: var(--primary-300);
  width: 0%;

  &:active {
    background-color: var(--primary-400);
  }
}

.addBtn {
  background-color: var(--secondary-300);
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }

  &:active {
    background-color: var(--secondary-400);
  }
}

.showBtn {
  width: 100%;
  margin-right: 4px;
}
